@media screen and (min-width: 401px){
    body{
    background-color:#eee5e9;
    }

    h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    }

    p{
    font-style: italic;
    font-size: large;
    color: #420039;
    }

    .eventtitle {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    }

    .eventbody {
    font-size: 16px;
    line-height: 1.4;
    color: #666;
    margin-top: 8px;
    }

    .eventdate {
    font-size: 16px;
    text-decoration: underline;
    }

    .eventartists {
    font-style: normal;
    font-weight: bold;
    }

    li{
    margin-bottom: 100px;
    margin-top: 50px;
    padding-right: 10%;
    }

    .summary{
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #48639C;
    color: #eee5e9;
    }
}

  @media screen and (max-width: 400px){
    body{
        background-color:#48639C;
    }
    h1{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: italic;
        color: #eee5e9;
        }
    p{
    font-style: italic;
    font-size: large;
    }

    .eventtitle {
    font-size: 24px;
    font-weight: bold;
    color: #eee5e9;
    }

    .eventbody {
    font-size: 16px;
    line-height: 1.4;
    color: #eee5e9;
    margin-top: 8px;
    }

    .eventdate {
    font-size: 16px;
    text-decoration: underline;
    color: #eee5e9;
    }

    .eventartists {
    font-style: normal;
    font-weight: bold;
    }

    li{
    margin-bottom: 100px;
    margin-top: 50px;
    padding-right: 10%;
    }

    .summary{
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 10%;
    padding-right: 10%;
    background-color:#eee5e9;
    }
    }

